# Example OpenBSD setup with Direnv.
gmake --directory vendor/cmark-gfm
layout perl
path_add LD_LIBRARY_PATH vendor/cmark-gfm/build/src
dzil build
perl Makefile.PL \
     INC="-Ivendor/cmark-gfm/src -Ivendor/cmark-gfm/build/src" \
     LIBS="-Lvendor/cmark-gfm/build/src -lcmark-gfm"
path_add PERL5LIB lib
